@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
/* area total e parcial do site*/
body{
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}
div#interface{
    width: 85%;
    background-color: #ffffff;
    margin: -20px auto 10px auto;
    box-shadow: 0px 0px 10px grey;
    padding: 10px;
}
p{
    text-align: justify;
    text-indent: 50px;
    font-family: Arial;

}
a{
    color: #888888;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/*area de cabeçalho*/
header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
}
header#cabecalho img#icone{
    position: absolute;
    left: 1080px;
    top: 85px;
}
header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0;
    margin-bottom: 0;
    margin-top: 2px;
}
header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,.6);*/
    padding: 0;
    margin-top: 0;
}
/*area de menu*/
nav#menu{
    display: block;

}
nav#menu ul{
    text-transform: uppercase;
    position: absolute;
    top: 4%;
    left: 40%;
}
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 6px;
    margin: 2px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}
nav#menu h1{
    display: none;
}
nav#menu li:hover{
    background-color: #606060;
}
nav#menu a{
    color: black;
    text-decoration: none;
    font-family: Arial;
}
nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}
/* area do corpo do site*/
section#corpo{
    position: relative;
    display: block;
    width: 700px;
    float: left;
    border-right: 1px #606060 solid;
    padding-right: 20px;
}
article#artigo-principal h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 25pt;
    margin-bottom: -20px;
    color: rgba(80,80,80,.8);
}
article#artigo-principal h2{
    padding-left: 10px;
    background-color: #cecece;
    font-size: 16pt;
    font-family: Arial;
    color: rgba(80,80,80,.9);
}
article#artigo-principal h3{
    font-size: 13pt;
    color: rgba(87, 87, 87, .4);
}
article#artigo-principal h4{
    font-size: 8pt;
    color: black;
    text-align: right;
    font-family: 'Titillium Web', sans-serif;
}
/*primeira foto do artigo com efeito*/
figure.foto-legenda{
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    position: relative;
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 98%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}
table#tabela-spec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabela-spec caption{
    color: #888888;
    font-weight: bold;
    font-size: 12pt;
}
table#tabela-spec caption span{
    display: block;
    float: right;
    font-size: 8pt;
    color: #000000;
    margin-top: 10px;
}
table#tabela-spec td{
    border: 1px solid #606060;
    padding: 10px;
}
table#tabela-spec td.ce{
    color:#ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}
table#tabela-spec td.cd{
    background-color: #cecece;
}

aside#lateral{
    background-color: rgba(221, 221, 221, 0.8);

    display: block;
    width: 350px;
    float: right;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
}
aside#lateral h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
}
aside#lateral h2{
    background-color: #606060;
    color: white;
    font-size: 15pt;
    padding: 5px;
}

footer#rodape{
    clear: both;
    border-top: 1px #606060 solid;
}
footer#rodape p{
    text-align: center;
}
